.Rate {
  font-size: 20px;
}

lu {
  align-items: left;
  justify-content: left;
}
li {
  font-size: 20px;
  list-style-type: none;
  text-align: left;
}

.Date {
  margin-top: -0.8em; /* Отступ сверху */
}

.load {
  margin-top: 2em;
}
